### MAVEN GENERATED ###
**/target/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NRF TO UDP GATEWAY ###
**/obj
**/cppudp
**/cppudpmock
